ASSIGN A VALUE TO A VARIABLE

In [2]:
num = 20
print(num)

20

In [3]:
p = "hi my name is abdullah "
print(p,p,p,p ,"my age is :24")
print(type(p))
print(type(num))

hi my name is abdullah  hi my name is abdullah  hi my name is abdullah  hi my name is abdullah  my age is :24
<class 'str'>
<class 'int'>

In [ ]:
x = 30
y = x * 8
z = 2 * 4 + x
print(y , z)

240 38

In [8]:
p_string = "hello, \n world,\n 90,\t jkkl"
print(p_string)

y = "HI"
print(y * 8)

hello,
 world,
 90,	 jkkl
HIHIHIHIHIHIHIHI

In [11]:
str = " I am happy"
number = 20 
decimal = 29.909
boolean_t =  True
boolean_f = False
print(type(boolean_t),boolean_f)

<class 'bool'> False

In [ ]:
False == 0
False == 0

False

CONDITIONAL STATEMENT

In [28]:
# example 1
x1 = 5
# conditional statement
if x1   < 6:
    print("hi")
    if x1 == 5:
        print("OK")
else:
    print("bye")

hi
OK

In [31]:

age = 20
if age > 18:
    print("you are eligible for vote")

else:
    print("you are  not eligible for vote")

you are eligible for vote

LOOP STATEMENT

In [34]:
for i in range(8):
    print(i +1)
    print("text")
print("hi ")

1
text
2
text
3
text
4
text
5
text
6
text
7
text
8
text
hi

In [ ]:
for i in range(1, 12, ):
    print(i)

1
4
7
10

In [56]:
for i in range (1, 11 ):
    print(5,"X", i , "=", 5*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [57]:
table = 8
for value in range (1, 11):
    print(table,'x', value, '=', table*value)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

MULTIPLE ASSINGNMENT

In [61]:
x,y,z = 12,233,343

print( x,"\n",y)
print("x =",x ,"\n =",y)
print("y =",y)
print("z =" ,z)

12
 233
x = 12
 = 233
y = 233
z = 343

In [66]:
# STRING USING THE OPERATOR
first_name = "john"
last_name = " Doe"
full_name = first_name + last_name
print(full_name)
print("$" * 5)

john Doe
$$$$$

In [67]:
# length
text = "pytho   n"
length = len(text)
print(length)
print(len("asif"))

9
4

STRING INDEXING

In [69]:
text = "python is good"

first_char = text[0]
second_char = text[5]
third_char = text[-1]

print("First_char (index 0):",first_char)
print("Second_char (index 1):",second_char)
print("Third_char (index 2):",third_char)

First_char (index 0): p
Second_char (index 1): n
Third_char (index 2): d

In [76]:
# length of text check 

text = "Python is good"

for i in range(len(text)):
    if i != 3:
        print(text[i],i)

for i in "ABDULLAH HASHMI":
    print(i)

P 0
y 1
t 2
o 4
n 5
  6
i 7
s 8
  9
g 10
o 11
o 12
d 13
A
B
D
U
L
L
A
H

H
A
S
H
M
I