In [5]:
import pandas as pd
print(pd.__version__)

2.3.1

In [6]:
import pandas as pd

# creating a series from a list
data = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data)  # Capital S
print(series_from_list)
print(type(series_from_list))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
import pandas as pd 
import numpy as np 

# creating a series from a Numpy array
numpy_array = np.array([1, 2, 3, 4, 5])
series_from_numpy = pd.Series(numpy_array)  # Capital S
print(series_from_numpy)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
import pandas as pd 

# creating a series with custom index labels
data =[10,20,30,40,50]
custom_index = pd.Series(data, index=['A','B','C','D','E'])
custom_index

A    10
B    20
C    30
D    40
E    50
dtype: int64

CREATING A DATAFRAME FROM A DICTIONARY

In [9]:
import pandas as pd 
data ={'name': ['alice','bob','cahrlie'],
                'age':[25,30,45]}

df_from_dict =pd.DataFrame(data)

# print the dataframe
print("DataFrame created from dictionary:")
display(df_from_dict)
display(type(df_from_dict))

DataFrame created from dictionary:

      name  age
0    alice   25
1      bob   30
2  cahrlie   45

pandas.core.frame.DataFrame

In [10]:
import pandas as pd

# creating a dataframe from a list of lists with custom column names
data_lists = [["Alice", 23],
              ["Bob", 34],
              ["Charlie", 35]]

df_from_list = pd.DataFrame(data_lists, columns=['Name', 'Age'])

print("DataFrame created from lists with custom column names:")
print(df_from_list)  # use print() instead of display() in normal Python

# save to CSV
df_from_list.to_csv('D:/Usama project/data10.csv')

DataFrame created from lists with custom column names:
      Name  Age
0    Alice   23
1      Bob   34
2  Charlie   35

In [11]:
import pandas as pd 

# creating a DataFrame from a CSV file 
df_from_csv = pd.read_csv("D:/data.csv")

# print dataframe 
print("DataFrame created from csv file:")
display(df_from_csv)

DataFrame created from csv file:

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,4/17/2021,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,1/30/2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,-3769,605.413.3198,vkemp@ferrell.com,7/10/2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,9/18/2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,8/11/2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,3/11/2020,http://www.hatfield-saunders.net/

In [12]:
print(df_from_csv.columns)

# selecting a single column
name_column =df_from_csv['Customer Id']
print(name_column)

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')
0     DD37Cf93aecA6Dc
1     1Ef7b82A4CAAD10
2     6F94879bDAfE5a6
3     5Cef8BFA16c5e3c
4     053d585Ab6b3159
           ...
95    cb8E23e48d22Eae
96    CeD220bdAaCfaDf
97    28CDbC0dFe4b1Db
98    c23d1D9EE8DEB0A
99    2354a0E336A91A1
Name: Customer Id, Length: 100, dtype: object

In [ ]:
young_people = df_from_csv[df_from_csv['Last Name'] == 'Berry']
display(young_people)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/

In [ ]:
# Accessing a specific cell by row and column label
cell_value = df_from_csv.at[9,'Company']
print(cell_value)

Beck-Hendrix

In [ ]:
import pandas as pd 
# read the csv file into a dataframe
df = pd.read_csv("D:/data.csv")
#count the number of missing in each column of the dataframe
missing_value_count = df.isnull().sum()
print(missing_value_count)

Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [ ]:
import pandas as pd

unique_values = df['City'].value_counts()  # ✅ plural 'counts', no space in variable name
print("Unique values (for categorical column):")
print(unique_values)

Unique values (for categorical column):
City
East Leonard         1
East Jimmychester    1
Isabelborough        1
Bensonview           1
West Priscilla       1
                    ..
East Richard         1
New Bradview         1
Ortegaland           1
Lake Elijahview      1
Judymouth            1
Name: count, Length: 100, dtype: int64