LOOP CONTROL STATEMENTS

BREAK STATEMNET

In [1]:
for i in range(10):
    if i == 5:
        
        break
    print(i)

0
1
2
3
4

CONTINUE STATEMENTS

In [2]:
for i in range( 1,7):
    if i == 3:
        continue
    print(i)

1
2
4
5
6

 CREATING LIST

In [3]:
a = [1, 54, 67, 76, 46]
print(type(a))
print(a[2])

<class 'list'>
67

In [22]:
numbers = [1,2,3,4, [2,6,8.0,[23,45,76,100]],"babari", 1.60, True]
print(numbers[5][-1])
print(type(numbers))
print(len(numbers))

i
<class 'list'>
8

CREATING LIST WITH ELEMENTS

In [23]:
n_list = [1, 2 , 3 , 4]
n_list[3]=34
print(n_list)

[1, 2, 3, 34]

In [28]:
sentence = "python is easy and fun 223"
words = sentence.split(" ")
print(words)
joined_sentence = "--".join(words)
print("joined sentence: ", joined_sentence)

['python', 'is', 'easy', 'and', 'fun', '223']
joined sentence:  python--is--easy--and--fun--223

In [3]:
my_list = [22,43,545,45]
my_list.append(10)
print("After append :", my_list)

After append : [22, 43, 545, 45, 10]

In [5]:
my_list = []

for i in range(5):
    my_list.append(i)

print("Final list:", my_list)

Final list: [0, 1, 2, 3, 4]

In [ ]:
# define an empty list append your name in list 5 time through loop
name = []

for i in range(5):
    name.append("Abdullah")
print(name)

['Abdullah', 'Abdullah', 'Abdullah', 'Abdullah', 'Abdullah']

In [8]:
my_list = [22,43,545,45]
my_list.append(10)
print("After append :", my_list)

list_1 = []
for i in range(5):
    list_1.append("atif")

print(list_1)

for i in range(len(my_list)):
    print(my_list[i])

for i in my_list:
    print(i)

After append : [22, 43, 545, 45, 10]
['atif', 'atif', 'atif', 'atif', 'atif']
22
43
545
45
10
22
43
545
45
10

EXTEND : ADDS ELEMENTS OF ANOTHER LIST TO END OF THE LIST

In [9]:
list1 =[1,2,3,4]
list2 =[4,5,6,7]
list1.extend(list2)
print("After extend:", list1)
print(list2)

After extend: [1, 2, 3, 4, 4, 5, 6, 7]
[4, 5, 6, 7]

INSRT AN ELEMENT AT A SPECIFIED POSITION IN THE LIST

In [10]:
my_list = [23,24,3]
my_list.insert(1,66)
print("After insert:",my_list)

After insert: [23, 66, 24, 3]

In [11]:
my_list[0] =99
my_list

[99, 66, 24, 3]

**Remove: remove()**

In [12]:
my_list = [11,22,33,22,33]
my_list.remove(22)
print("After remove: ",my_list)

After remove:  [11, 33, 22, 33]

POP() : removes and return the element at a specfied index. if no index is provide the remove and pop

In [13]:
my_list =[45,56,64]
poped_item = my_list.pop(1)
print("poped item: ",poped_item)
print("After pop:", my_list)

poped item:  56
After pop: [45, 64]

In [14]:
my_list = [23,56,767]
del my_list[1]
print("After del:", my_list)

After del: [23, 767]

In [19]:
my_list = [7,2,96,24,64,96,96]
if 2 in my_list:
    print("exist")
else:
    print("do not exist")

count_96 = my_list.count(96)
print("96 is :", count_96, "times")

exist
96 is : 3 times

In [ ]:
arr_2D = [
    [[1,2,4,5],[32,324,23,43]],
    [[23,23,22,24,],[32,22,34,43]]

]

print(arr_2D[1][0][2])

22

In [29]:
# Iteration 

list_1 = [2,4,6,8,10]
total = 0 
for i in list_1:
    print(total,i)
    total = total + i
print(total)

0 2
2 4
6 6
12 8
20 10
30

**Creation tuples**

In [31]:
int_tuple = (1,23,4)
print(int_tuple)
print(type(int_tuple))

(1, 23, 4)
<class 'tuple'>

Creating a mixed type tuple

In [32]:
mixed_tuple = ("apple", 5,2.5, True)
print(mixed_tuple)

('apple', 5, 2.5, True)

elements  are not change in tuple

In [33]:
original_tuple = (1,2,3,34,3)
new_tuple = original_tuple + (34,23213,313)

print(new_tuple)

(1, 2, 3, 34, 3, 34, 23213, 313)

In [34]:
original_tuple = (1,2,3,34,3)
new_tuple = original_tuple * 3

print(new_tuple)

(1, 2, 3, 34, 3, 1, 2, 3, 34, 3, 1, 2, 3, 34, 3)

In [35]:
my_tuple = (1,2,3)
for element in my_tuple:
    print(element)

1
2
3

In [36]:
# tuple packing and un packing

my_tuple = (1,2,"three")
print(type(my_tuple))

a,b,c = my_tuple
print(a,b,c)

<class 'tuple'>
1 2 three

Ord() and chr() A character to its unicode code point and vice and versa.

In [39]:
char = "A"

unicode_value = ord("A")
char_again = chr(97)

print(unicode_value)
print(char_again)

65
a

In [ ]:
# %  modulus opertor which return the remanider of a divison

x  = 5
if x % 2 == 0:
    print("even")

else:
    print("odd")

odd

In [49]:
temperature = [27, 49, 35, 12, 31, 22]

for temp in temperature:
    if temp > 40:
        print({temp},"°C - Heat wave alert")
    else:
        print({temp},"°C - Mild weather")

{27} °C - Mild weather
{49} °C - Heat wave alert
{35} °C - Mild weather
{12} °C - Mild weather
{31} °C - Mild weather
{22} °C - Mild weather