STRING SLICING

In [ ]:
text ="python"
sliced_text = text[2::2]
print("sliced text:", sliced_text)

t = text[3:]
s = text[:: -1]
d = text[-2:-5:1]
print(t)
print(s)

sliced text: to
hon
nohtyp

In [10]:
text ="python"
sliced_text = text[2::2]
print("sliced text:", sliced_text)

t = text[3:]
s = text[:: -1]
d = text[-4:-5:1]
print(t)
print(s)

sliced text: to
hon
nohtyp

STRING METHOD

In [ ]:
number = 42

str_number = str(number)
flt_number = float(number)
int_number = float("99.999")

print(str_number)
print(flt_number)
print(int_number)
print(type(str_number))

tt = "99.999"

print(tt[2])

42
42.0
99.999
<class 'str'>
.

CASE CONVERSIONS

In [20]:
text = "python is fun"

upper_text = text[8].upper()
lower_text = text.lower()
cap_text = text.capitalize()
title_text = text.title()

print("uppercase:", upper_text)
print("lowercase:" , lower_text)

uppercase: S
lowercase: python is fun

STRIPPED STRING

In [24]:
my_string = "python is fun!  "

stripped_string = my_string.strip()
print("stripped string:" ,stripped_string)
len(stripped_string)

stripped string: python is fun!

14

SEARCH AND REPLACE METHODS

In [39]:
sentence = "python   is easy   and    python is f@#n"
index = sentence.find("is")
print(index)

replaced_sentence = sentence.replace("python", "java",1).replace("@#","u").replace("   ", " ").replace("   ", " ").replace("  "," ")
print("replaced sentence:", replaced_sentence)

9
replaced sentence: java is easy and python is fun

COUNT METHOD

In [42]:
sentence = "python is easy and python is fun is crsis"
count_is = sentence.count(" is ")
count_on = sentence.count("on")

print(count_is)
print(count_on)

3
2

FORMATTING METHOD

In [51]:
name = "john"
age = 25

formated_string ="My name is {}, and I am {} years old.".format(name,age)

print("Formated string:", formated_string)
print(f"My name is {name}, and I am {age} years old")
print("My name is", name, "and I am ", age,"years old")
print("My name is " + name + ", and I am " + str(age) + " years old")

Formated string: My name is john, and I am 25 years old.
My name is john, and I am 25 years old
My name is john and I am  25 years old
My name is john, and I am 25 years old

CONDITION IS TRUE AND ANOTHER BLOCK IF ITS FALSE

In [53]:
x = 10
if x > 5:
    print("x is greater than 5")

else:
    print("x is not greater than 5")

x is greater than 5

In [56]:
x = 3
if x > 5:
    print("x is greater than 5")

elif x != 5:
    print("x is not equal to 5")

else:
    print("x is not greater than 5")

x is not equal to 5

NESTED CONDITIONAL STATEMENTS

In [5]:
x = 10 
y = 4
if x > 5:
    print("x is greater than 5")

    if y < 10:
        print("y is less than 10")

        if x >4:
            print("x is greater than 4")

        else:
            print("1122")

    elif y < 4:
        print("jjk")
    else:
        print("y us greater than or equal to 10")
else:
    print("x is not greater than 5")

x is greater than 5
y is less than 10
x is greater than 4

INPUT FUNCTION

In [8]:
name = input("enter your name:")
print(name)

abdullah

WHILE LOOP

In [13]:
count = 8
while count < 5:
    count = count + 1
    print("count:" , count)

print("loop ended")

loop ended