Creating Dictionary

In [8]:
student_info = {'name': 'Alice','age' :20,'grade':[1.2,2.3],'course':{'name': 'python', 'code': 'cs101'}}

print(student_info['name'])
print(student_info['age'])
print(student_info['grade'][1])
print(student_info['course']['name'])

print(type(student_info))

Alice
20
2.3
python
<class 'dict'>

In [12]:
student_info = {'name': 'Alice','age' :20,'grade':'A'}
# EXAMPLE DICTIONARY
student_info['city'] = 42
print(student_info)
# ADD NEW KEY_VALUE PAIR 

student_info['city'] ='lahore'
print(student_info)

student_info['agee'] = 50
print(student_info)

# UPDATE A DICTIONARY WITH THE CONTENTS USING UPDATE METHOD

additional_info = {'city': 'newyork', 'marks': 95}
student_info.update(additinal_info) # update a dictionary
print(additional_info)

{'name': 'Alice', 'age': 20, 'grade': 'A', 'city': 42}
{'name': 'Alice', 'age': 20, 'grade': 'A', 'city': 'lahore'}
{'name': 'Alice', 'age': 20, 'grade': 'A', 'city': 'lahore', 'agee': 50}
{'city': 'newyork', 'marks': 95}

REMOVAL POP()

In [14]:
student_info = {'name': 'Alice','age' :23,'grade':'A'}
removed_age = student_info.pop('age')

print(removed_age)
print(student_info)

23
{'name': 'Alice', 'grade': 'A'}

POPITEM

In [18]:
student_info = {'name': 'Alice','age' :23,'grade':'A'}
removed_pair = student_info.popitem()

print(removed_pair, type(removed_pair))
print(student_info)

('grade', 'A') <class 'tuple'>
{'name': 'Alice', 'age': 23}

In [24]:
# del 
student_info = {'name': 'Alice','age' :23,'grade':'A'}
del student_info ['age' ] 
del student_info['grade']
print(student_info)

{'name': 'Alice'}

CHECKINF MEMBERSHIP WITH "IN"

In [28]:
student_info = {'name': 'Alice','age' :23,'grade':'A'}
is_age_present = 'age' in student_info # checking if 'age' is a key in the dic
print("is age present in the dictionary?", is_age_present)

is age present in the dictionary? True

THE KEY() METHOD

In [33]:
student_info = {'name': 'Alice','age' :23,'grade':'A'}
keys = student_info.keys()
print(keys, type(keys))
print("Keys in the dictionary:", list(keys))

values = student_info.values()
print(values, type(values))
print("values in the dictionary:", list(values))

dict_keys(['name', 'age', 'grade']) <class 'dict_keys'>
Keys in the dictionary: ['name', 'age', 'grade']
dict_values(['Alice', 23, 'A']) <class 'dict_values'>
values in the dictionary: ['Alice', 23, 'A']

In [44]:
student_info = {'name': 'Alice','age' :23,'grade':'A'}
keys =list(student_info.keys())

print(keys, type(keys))
print("Keys in the dictionary:")


values =list( student_info.values())
print(values, type(values))
print("values in the dictionary:")

['name', 'age', 'grade'] <class 'list'>
Keys in the dictionary:
['Alice', 23, 'A'] <class 'list'>
values in the dictionary:

In [50]:
# key- value association in the dictionary 
student_info = {'name': 'Alice','age' :23,'grade':'A'}
items = student_info.items()
print(items)
print("key-value assocaition in the dictionary:", list[items])

dict_items([('name', 'Alice'), ('age', 23), ('grade', 'A')])
key-value assocaition in the dictionary: list[dict_items([('name', 'Alice'), ('age', 23), ('grade', 'A')])]

In [ ]:
for i in [12,65,32][:2]:
    print(i)

12
65

In [63]:
student_info = {'name': 'Alice','age' :23,'grade':'A'}
sorted_dict = sorted(student_info.items(), reverse=False)
print(sorted_dict)
sorted_dict = dict(sorted_dict)
print(sorted_dict)


for k,v in student_info.items():
    if k == 'grade':
        print(v)

for k,v in student_info.items():
    print(student_info['grade'])

[('age', 23), ('grade', 'A'), ('name', 'Alice')]
{'age': 23, 'grade': 'A', 'name': 'Alice'}
A
A
A
A

CREATION OF SETS

In [67]:
# A set is  a collection of unique elements . its element cannot repeating
colors = {'red', 'green', 'yellow','blue'}
print(colors, type(colors))

{'blue', 'red', 'yellow', 'green'} <class 'set'>

SET WITH MIXED DATA TYPES

In [71]:
mixed_set = {1, 'apple', 3.14,(1,2,3),1,(1,2,4)}
print(mixed_set)

{1, 3.14, 'apple', (1, 2, 3), (1, 2, 4)}

In [74]:
#USING SET() CONSTRUCTOR

fruits_set = set(['apple', 'banana', 'orange', 'Apple'])
print(fruits_set)


fruits_set = set(['apple', 'banana', 'orange', 'Apples'])
print(fruits_set)

{'apple', 'banana', 'Apple', 'orange'}
{'apple', 'banana', 'Apples', 'orange'}

OPERATIONS ON SETS

In [75]:
my_set = {1,2,3,4,5}
set_to_update = {5,6,7,8}
my_set.update(set_to_update)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [78]:
# ADD() METHOD
my_set ={1,2,3,4,5}
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 9}

In [87]:
# REMOVAL METHOD
my_set ={1,2,3,4,5}
my_set.remove(4)

print("set after removing element:",my_set)

set after removing element: {1, 2, 3, 5}

In [88]:
# POP() METHOD
my_set ={1,2,3,4,5}
poped_element = my_set.pop()

print("poped element:", poped_element)
print("set after poping:", my_set)

poped element: 1
set after poping: {2, 3, 4, 5}

In [89]:
# CHECKING MEMBERSHIP USING 'IN' 
my_set = {1,2,3,4,5}
is_four_present = 4 in my_set
print("is 4 present in the set", is_four_present)

is 4 present in the set True

In [1]:
# UNION
set1 = {1, 2, 3}
set2 = [3, 4, 5]

# Convert list to set before union
union_result = set1 | set(set2)
print("Union of set1 and set2:", union_result)


# intersection 
set1 = {1, 2, 3}
set2 = [3, 4, 5]

# Convert list to set before finding intersection
intersection_result = set1 & set(set2)
print("Intersection of set1 and set2:", intersection_result)

Union of set1 and set2: {1, 2, 3, 4, 5}
Intersection of set1 and set2: {3}

In [2]:

# Two sets for demonstration
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Display both sets
print("Set 1:", set1)
print("Set 2:", set2)

# Intersection
print("Intersection:", set1 & set2)

# Union
print("Union:", set1 | set2)

# Difference (elements in set1 but not in set2)
print("Difference (set1 - set2):", set1 - set2)

# Symmetric Difference (elements in either set1 or set2 but not both)
print("Symmetric Difference:", set1 ^ set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference (set1 - set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [111]:
m = {'m1':78, 'm2':67, 'm3':56, 'm4':84, 'm5':100}

max_val = max(m.values())
for k,v in m.items():
    if v == max_val:
        print(k, v)

max_key = max (m, key=m.get)
max_value = m[max_key]

print(max_key)
print(max_value)

m5 100
m5
100